@charset "UTF-8";

header{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    line-height: 1em;
    margin: -8px;
}

header a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}